
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row box">
        <div class="box-inner">
          <h1 class="title">招募更聪明的人</h1>
          <p class="slogan">
            <br>
            超过200位顶尖的软件工程师，供您每周选择。<br>Java，前端，iOS，数据科学家，设计等等。
  找到你需要的才能。

            <br>
          </p>
          <p class="lead">
            <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="box-inner1">
   <div class="container-fluid" style="background-color: #FAFAFA;">
      <div class="row">
          <h1 class="section-heading"><br/><br/><br/><br/><br/><br/>最近在握手网招聘的企业<br/><br/><br/></h1>
            <div class="col-sm-3 col-md-3">
              <div class="thumbnail">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/active_company/china/1-fa3cd0477385ca78bd525e754965bc95.png" border="0" alt="search" class = "img-thumbnail">
              </div>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="thumbnail">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/active_company/china/2-6eb32becd03512f13e94e36fd1516ab3.png" border="0" alt="search" class = "img-thumbnail">
              </div>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="thumbnail">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/active_company/china/3-1e1f566b6ddefa8fe419a605909b0b0d.png" border="0" alt="search" class = "img-thumbnail">
              </div>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="thumbnail">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/active_company/china/4-fa501c55a742730b43ce7a11e2afbcc2.png" border="0" alt="search" class = "img-thumbnail">
              </div>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="thumbnail">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/active_company/china/8-d55d6d50e13c52545650570bdfff1b75.png" border="0" alt="search" class = "img-thumbnail" >
              </div>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="thumbnail">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/active_company/china/5-ff97119b8e7abbefe2d1861ccbdfed75.png" border="0" alt="search" class = "img-thumbnail">
              </div>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="thumbnail">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/active_company/china/6-fd6bb2005cd2f07f46eaf46fd8eec2c5.png" border="0" alt="search" class = "img-thumbnail">
              </div>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="thumbnail">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/active_company/china/7-29c48166d71843222373520f9bfd8b6f.png" border="0" alt="search" class = "img-thumbnail">
              </div>
            </div>

          </div>
          <br/><br/><br/><br/>
          <br/><br/><br/><br/>
      </div>
     </div>
</div>


  <div class = "container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
                     <h2 class="section-headingnew">简单几步，几个更好的机会，一份更理想的工作</h2>
                     <div class="short-line"></div>
     </div>
   </div>



  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="do-box">
            <div align="center"><img src="http://ww4.sinaimg.cn/large/006tNc79ly1feuclpxlfbj305f03ywek.jpg" ></div>
              <h3>完善个人资料</h3>
              <p>提供一份完善的个人资料。展示你的经历与技能，告诉我们你的职业期望。</p>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="do-box">
            <div align="center"><img src="http://ww1.sinaimg.cn/large/006tNc79ly1feuclvjs2ej305903tweo.jpg" ></div>
              <h3>上线展示</h3>
              <p>通过审核后，你的简历会向我们的合作企业匿名展示。你可以屏蔽现雇主或任何企业。</p>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="do-box">
            <div align="center"><img src="http://ww1.sinaimg.cn/large/006tNc79ly1feuclxx7w2j305i03tglq.jpg" ></div>
              <h3>接受面试邀请</h3>
              <p>对你感兴趣的企业会邀请你参加面试。你可以比较多个机会，并作出选择。</p>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 ">
          <div class="do-box">
            <div align="center"><img src="http://ww4.sinaimg.cn/large/006tNc79ly1feuclzrc9uj305503kmxb.jpg" ></div>
              <h3>入职并领取奖励</h3>
              <p>入职并开启一段新的职业旅程。我们为你准备了礼物和礼品卡来表示祝贺。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
