<div class="col-md-8 col-centered">
    <div class="panel panel-info">
        <div class="panel-heading"><%= @job.title %> </div>
        <div class="panel-body">
        <%= simple_format(@job.description) %>
        </div>
    </div>
</div>
